.kineticSlider {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100vw / 3);
}

.kineticSlider canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transform: scale(1);
}

.prev, .next {  /* Fixed the incorrect .prev .next selector */
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 50%;
    z-index: 10;  /* Ensure buttons appear above PixiJS canvas */
    padding: 9px 27px;
    font-size: 17px;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    color: #fff;
}

.next {
    right: 20px;
}

.prev {
    left: 20px;
}