---

---

<!-- Glitch container fills the parent -->
<div class="glitch w-full h-full">
    <div class="glitch-img"></div>
    <div class="glitch-img"></div>
    <div class="glitch-img"></div>
    <div class="glitch-img"></div>
    <div class="glitch-img"></div>
</div>