---
const year:number = new Date().getFullYear();
---
<footer class="bg-primary-darkest text-white">
    <div id="footer-container" class="container mx-auto p-4">
        <p>&copy; {year}</p>
    </div>
</footer>
</body>
</html>
<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>