---
import Header from "./Header.astro"
import Footer from "./Footer.astro"
---
<Header/>
<div class="w-full bg-gray-lightest dark:bg-gray-dark dark:text-white">

        <slot/>
    </div>
</div>
<Footer/>